* load training dataset

In [1]:
import boto3
import pandas as pd

# --- S3 information ---
bucket = "amazon-bodym"                 # your S3 bucket name
key = "train/subject_to_photo_map.csv"  # key inside the bucket

# --- Read CSV directly from S3 ---
s3 = boto3.client("s3")

obj = s3.get_object(Bucket=bucket, Key=key)
data_train = pd.read_csv(obj["Body"])

data_train.head()

,subject_id,photo_id
0,-494U-YoXOD8e8gkCuyaRLn4MLo5P8Dm2B1s59WBGdg,e6f404ebda41ebe93573d3e219c88297
1,-494U-YoXOD8e8gkCuyaRLn4MLo5P8Dm2B1s59WBGdg,39a4241cb892618a694747e224d57b9e
2,-494U-YoXOD8e8gkCuyaRLn4MLo5P8Dm2B1s59WBGdg,a00a6c0c074efbd92c894cbc77023939
3,-494U-YoXOD8e8gkCuyaRLn4MLo5P8Dm2B1s59WBGdg,7c99b3017f21f9797851e70de084bfcb
4,-494U-YoXOD8e8gkCuyaRLn4MLo5P8Dm2B1s59WBGdg,3000cb26b2090db5a7d82926af8c6a83

* load testA dataset

In [2]:
import boto3
import pandas as pd

# --- S3 information ---
bucket = "amazon-bodym"                 # your S3 bucket name
key = "testA/subject_to_photo_map.csv"  # key inside the bucket

# --- Read CSV directly from S3 ---
s3 = boto3.client("s3")

obj = s3.get_object(Bucket=bucket, Key=key)
data_testA = pd.read_csv(obj["Body"])

data_testA.head()

,subject_id,photo_id
0,-JtWlHEvrLPWagPaAhm0eQ_UKMSg8By1yoe-SkdrKSs,1982951758ea65ae715d9d1a95a8ecd1
1,-JtWlHEvrLPWagPaAhm0eQ_UKMSg8By1yoe-SkdrKSs,dc567997daef596835cce05a0c6f770f
2,-JtWlHEvrLPWagPaAhm0eQ_UKMSg8By1yoe-SkdrKSs,f72236f1ab2ddb4a7b2863019c1c943c
3,-JtWlHEvrLPWagPaAhm0eQ_UKMSg8By1yoe-SkdrKSs,f6aff3e542d4101fe9ac7cfa6ee4439a
4,-JtWlHEvrLPWagPaAhm0eQ_UKMSg8By1yoe-SkdrKSs,00e11c860f7b081a01e9c7f04405c40f

* load testB dataset

In [3]:
import boto3
import pandas as pd

# --- S3 information ---
bucket = "amazon-bodym"                 # your S3 bucket name
key = "testB/subject_to_photo_map.csv"  # key inside the bucket

# --- Read CSV directly from S3 ---
s3 = boto3.client("s3")

obj = s3.get_object(Bucket=bucket, Key=key)
data_testB = pd.read_csv(obj["Body"])

data_testB.head()

,subject_id,photo_id
0,ikt5hpg4u--nWYDSMAfZXOVZhhah-YtX7p6p7q8Hg6I,d151534ec2286935a58485f594f95464
1,ikt5hpg4u--nWYDSMAfZXOVZhhah-YtX7p6p7q8Hg6I,8659001c5f3d675871b418c374b886d0
2,ikt5hpg4u--nWYDSMAfZXOVZhhah-YtX7p6p7q8Hg6I,0cf8bc3ab37436850dd21e301f6a2b1a
3,AcXtVN5DaisfM7J3T6N5F-ZePD30WawSdWJa-8IEPpA,38626dc8402b497be1796c5668f5f4eb
4,AcXtVN5DaisfM7J3T6N5F-ZePD30WawSdWJa-8IEPpA,020ee6e3d2db84419b49e08f7da4ecbc

In [4]:
# Ensure subject_id columns exist
assert 'subject_id' in data_train.columns, "data_train has no subject_id column"
assert 'subject_id' in data_testA.columns, "data_testA has no subject_id column"

# convert to sets for fast lookup
train_ids = set(data_train['subject_id'])
test_ids  = set(data_testA['subject_id'])

# subjects that ARE in train
test_in_train = test_ids.intersection(train_ids)

# subjects that are NOT in train
test_not_in_train = test_ids.difference(train_ids)

print("Number of test subjects:", len(test_ids))
print("Subjects found in train:", len(test_in_train))
print("Subjects NOT found in train:", len(test_not_in_train))

Number of test subjects: 87
Subjects found in train: 0
Subjects NOT found in train: 87

In [5]:
# Ensure subject_id columns exist
assert 'subject_id' in data_train.columns, "data_train has no subject_id column"
assert 'subject_id' in data_testB.columns, "data_testA has no subject_id column"

# convert to sets for fast lookup
train_ids = set(data_train['subject_id'])
test_ids  = set(data_testB['subject_id'])

# subjects that ARE in train
test_in_train = test_ids.intersection(train_ids)

# subjects that are NOT in train
test_not_in_train = test_ids.difference(train_ids)

print("Number of test subjects:", len(test_ids))
print("Subjects found in train:", len(test_in_train))
print("Subjects NOT found in train:", len(test_not_in_train))

Number of test subjects: 400
Subjects found in train: 0
Subjects NOT found in train: 400